<h1><%= "#{t('.header')} #{@test_passage.test.title}" %></h1>

<p>
  <%# Мне кажется, стоит вынести количество в константу, но где она должна быть? не во вью же %>
  <% 50.times do |i|%>
    <%= content_tag :span, '', class: "progress-bar tile-#{i}" %>
  <% end %>
</p>

<p>
  <%= timer %>
</p>

<p>
  <b><%= @test_passage.current_question.body %></b>
</p>

<%= form_with url: test_passage_path(@test_passage),
              class: 'test-passage',
              local: true,
              method: :put do |form| %>

  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers,
  :id, :body, include_hidden: false do |box| %>
    <p>
      <%= box.check_box id: "answer_ids_#{box.object.id}" %>
      <%= box.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist Question', gists_path(test_passage_id: @test_passage.id), method: :post %></p>

  <p>
    <%= form.submit 'Next',
                      data: { question_index: @test_passage.current_question_index,
                              questions_count: @test_passage.test.questions.count } %>
  </p>
<% end %>
