<h1><%= "#{t('.header')} #{@test_passage.test.title}" %></h1>

<p>
  <% 50.times do |i|%>
    <%= content_tag :span, '', class: "progress-bar tile-#{i}" %>
  <% end %>
</p>

<p>
  <%= content_tag :span, t('.time_left') %>
  <%= content_tag :span, '0:00:00', class: "time-left" %>
</p>

<p>
  <b><%= @test_passage.current_question.body %></b>
</p>

<%= form_with url: test_passage_path(@test_passage),
              local: true,
              class: "test-passage",
              data: { time_limit: min_to_ms(@test_passage.test.timer),
                      time_now: sec_to_ms(Time.now.to_i),
                      time_start: sec_to_ms(@test_passage.created_at.to_i)},
              method: :put do |form| %>

  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers,
  :id, :body, include_hidden: false do |box| %>
    <p>
      <%= box.check_box id: "answer_ids_#{box.object.id}" %>
      <%= box.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist Question', gists_path(test_passage_id: @test_passage.id), method: :post %></p>

  <p>
    <%= form.submit 'Next',
                      data: { question_index: @test_passage.current_question_index,
                              questions_count: @test_passage.test.questions.count } %>
  </p>
<% end %>
