<h1>Edit test: <%=@test.title %></h1>

<%= render 'shared/errors', resource: @test %>
<%= render 'form' %>

<p>
  <%= link_to 'Add questions', new_admin_test_question_path(@test) %>
</p>

<table>
  <%= render @questions %>
</table>
