<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.new'), new_admin_test_path %>
</p>

<table class="table">
  <thead>
    <tr>
      <%= render 'shared/column_names', locals: { col_name: t('.title') } %>
      <%= render 'shared/column_names', locals: { col_name: t('.level') } %>
      <%= render 'shared/column_names', locals: { col_name: t('.category') } %>
      <%= render 'shared/column_names', locals: { col_name: t('.questions') } %>
      <th colspan="4"><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>

<%= link_to 'Gists', gists_path %>
