<h1>Edit test: <%=@test.title %></h1>

<%= render 'shared/errors', resource: @test %>
<%= render 'form' %>

<p>
  <%= link_to 'Add questions', new_test_question_path(@test) %>
</p>

<table>
  <% @test.questions.each do |question| %>
    <tr>
      <td><%= question.body %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Delete', question_path(question),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
