<h1><%= t('.header') %></h1>

<table>
  <thead>
    <tr>
      <%= render 'shared/column_names', locals: { col_name: t('.title') } %>
      <%= render 'shared/column_names', locals: { col_name: t('.level') } %>
      <%= render 'shared/column_names', locals: { col_name: t('.category') } %>
      <%= render 'shared/column_names', locals: { col_name: t('.questions') } %>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
